##### Date: 21/Aug/2024

## Journey to becoming a Data Scientist

#### Contents:
1. Basics of Python
   - Print Function
   - Data Types
   - Comments
   - Variables
   - Keywords & Identifiers
   - Taking User Input
   - Type Conversion
   - Literals
   - Operators
   - If-else Statement
   - Indentation
   - While Loop
   - Guessing Game
   - The For Loop
   - Nested Loops
   - Break & Continue
   - Built-in Functions
   - Built-in Modules
   - Strings
     - String Indexing
     - Editing Strings
     - String Operations
     - String Functions
   - Python Lists
   - Python Tuples
   - Python Sets
   - Python Dictionary
   - Functions:

## Print Function

In [74]:
# you can print in single, double, and triple quotations, there is no difference.
print('Hello World')
print("Hello World")
# triple quatation marks strings are used for multiline strings
print("""Hello
         World""")

Hello World
Hello World
Hello
         World

In [37]:
# you can print different data types

print(208) # Integer (Whole Numbers) 
print(type(208)) 

print(20.8) # Float (Decimal Numbers)
print(type(20.8)) 

print(True) # Boolean (True or False)
print(type(True)) 

print("Tesxt here") # String (Sequence of Characters)
print(type("Text here"))

208
<class 'int'>
20.8
<class 'float'>
True
<class 'bool'>
Tesxt here
<class 'str'>

In [30]:
# you can print multiple values (with same and different data types)

# with same data types 

print("one", "two", "three")
print(1, 2, 3)
print(1.1, 2.2, 3.3)
print('a', 'b', 'c')


# without same data types 

print("one", 2, 3.0, False, 'H')

one two three
1 2 3
1.1 2.2 3.3
a b c
one 2 3.0 False H

In [36]:
# there are two basic parameters in print function,

# one is Seperator

print("one", 2, 3.0, False, 'H', sep = '-')
print("one", 2, 3.0, False, 'H', sep = '/')

# another is End

print("Hello", end = ' * ')
print("world")

one-2-3.0-False-H
one/2/3.0/False/H
Hello * world

## Data Types

#### Data Types:
- Data types define the kind of values a variable can hold.

#### Categories of Data Types:
- there are three Categories of  data types, one Basic, second Container, and third is User-defined types.
  1. Basic Data Types: Integers, Float, Boolean, Complex, and String
  2. Container Data Types: List, Tuple, Set, Dictionary
  3. User-defined types, ( will discuss in OOP )

#### Basic Data Types: Integers, Float, Boolean, Complex, and String

In [56]:
print(6)      # Integer
print(type(6))    

print(6.13)   # Float
print(type(6.13))

print(True)   # Boolean
print(type(True))   

print(3 + 7j) # Complex
print(type(3 + 7j)) 

print("Hyderabad") # String
print(type("Hyderabad"))

6
<class 'int'>
6.13
<class 'float'>
True
<class 'bool'>
(3+7j)
<class 'complex'>
Hyderabad
<class 'str'>

#### Container Data Types: List, Tuple, Set, Dictionary

In [42]:
print([1,2,3,4,5])
print(type([1,2,3,4,5]))

print((1,2,3,4,5))
print(type((1,2,3,4,5)))

print({1,2,3,4,5})
print(type({1,2,3,4,5}))

print({"key": "value", "name": "wajid javed"})
print(type({"key": "value", "name": "wajid javed"}))

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>
{1, 2, 3, 4, 5}
<class 'set'>
{'key': 'value', 'name': 'wajid javed'}
<class 'dict'>

## Comments:

#### Definition: 
- A piece of code which is not executable by the compiler or interpreter

#### why you write comments? 
- to understand the logic of the code, Means ( to enhance code reabability)

#### How to write the COMMENTS:
- you can write comment by using "#"

In [55]:
# This is COMMENT, and in python there is single line comments only.

## Variables:

#### Definition:
- A variable is a symbolic name that refers to an object. Think of it as a container that holds data values.

#### Viarable Naming rules: 
- A variable name must start with a letter or the underscore character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

*( in python you don't need to declare variable before use. )*  

#### Dynamic Typing vs Static Typing:
- In Dynamic typing you don't need to declare variable data type, it automatically detect.
- In Static typing you have to declare variables data type.

#### Dynamic binding vs Static binding:
- In Dynamic binding, when a variable can store multiple data types.
- In Static binding, when a variable cannot store multiple data types.

In [57]:
#  Creating variables

Name = "Wajid Javed"
Height = 5.11
is_student = True
Age = 23

# Variable naming rules:

_price = 2395
random = 16
Random = 34.55

# Dynamic Typing vs Static Typing:

name = "Wajid Javed"
age = 23
print(name, age)

# Dynamic binding vs Static binding:

code = "Harry13"
print(code)
code = 135
print(code)
code = 78.3
print(code)

# Special syntax: for declaring multiple variables at once.
a = 3; b = 4; c = 5; d = 6
print(a,b,c,d)

# another, which is easier
A,B,C,D = 3,4,5,6
print(A,B,C,D)

Wajid Javed 23
Harry13
135
78.3
3 4 5 6
3 4 5 6

## Keywords and Identifiers:

#### Keywords:
- In programming, a keyword is a word that is reserved by a program because the word has a special meaning. Keywords can be commands or parameters. Every programming language has a set of keywords that cannot be used as a variable names.
- In python there are 33 keywords, you can see, by using command "import keyword" then write "print(keyword.kwlist)"

In [52]:
# Keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### Identifiers:
- A python Identifier is a name used to identify a variable, function, class, module or other object.

#### Rules for setting Identifiers:
- can only start with an alphabet or underscore (_)
- followed by 0 or more letter, underscore (_) and digits
- keywords cannot be used as an Identifiers

In [62]:
# rules for setting Identifiers
Marks = 87
_marks = 91
print(Marks, _marks)

_ = "underscore"
print(_)

subject3 = "Mathematics"
(subject3)

87 91
underscore

'Mathematics'

## Taking User Input:

In [66]:
# input function by default takes input as an string.
# we use input() keyword for user input
name = input("Enter your Name: ")
print("Hello", name)

num = input("Enter a number: ")
print(type(num))

Enter your Name:  wajid

Hello wajid

Enter a number:  45

<class 'str'>

## Type Conversion:

#### Type conversion:
- Type conversion in Python is the process of converting one data type to another.
- There are two main types of type conversion:

1. **Implicit Type Conversion**: This is automatically performed by the Python interpreter. For example, when you add an integer and a float, Python automatically converts the integer to a float to avoid data loss>
    ```

2. **Explicit Type Conversion**: This is manually performed by the user using built-in functions like `int()`, `float()`, `str()`, etc. This is also known as type cc-basics/python-type-conversion/.

In [71]:
# Implicit Type Conversion

num1 = 20    # integer
num2 = 13.65 # float
sum = num1 + num2
print(sum, type(sum)) # float

# Explicit Type Conversion

val = "23" # string
num = 12   # integer
add = int(val) + num # changing it's data type, as an integer
add

# in python, type conversion creates a copy of that variable then change it's data type. means original variable data type will be same.
type(val)

33.65 <class 'float'>

str

## Literals:

#### Literals:
- Literal is a raw data given in a variable.
    *(jab aap variable ko koye value dete ho, ussi ko Literal bola jata hai)* 
- In python there are four types of literals, they are as follows.
  - Numeric Literals
  - String Literals
  - Boolean Literals
  - Special Literals

#### 1. Numeric Literals:

In [75]:
a = 0b1010 # Binary Literals
b = 100    # Decimal Literals
c = 0o310  # Octal Literals
d = 0x12c  # Hexadecimal Literals

# Float Literals
float_1 = 10.5
float_2 = 3.4e2
float_3 = 12.77e-4

# Complex Literals
x = 3.14 + 7j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 340.0 0.001277
(3.14+7j) 7.0 3.14

#### 2. String Literals:

In [82]:
string = 'This is Python'
strings = "This is Python"
char = 'W'
multiline_str = """ this is multiline string with more than one line of code,"""
unicode = u"\U0001f600"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
W
 this is multiline string with more than one line of code,
ðŸ˜€
raw \n string

#### 3. Boolean:

In [84]:
a = True + 4
b = False + 10

print(a, b)

5 10

#### 4. Special Literal:

In [87]:
# None is absence of anything, it's kind of variable declaration. 
a = None
print(a)

None

## Operators:

#### Operators:
- Operators are used to perform operations on variables and values.
- Python has the following operators:
  - Arithmetic operators
  - Comparision operators
  - Logical operators
  - Bitwise operators
  - Assignment operators
  - Identity operators
  - Membership operators

#### Arithmetic operators:
- arithmetic operators are used to perform common mathematical operations.
  - Addition (+): Adds two operands.
  - Subtraction (-): Subtracts the second operand from the first.
  - Multiplication (*): Multiplies two operands.
  - Division (/): Divides the first operand by the second.
  - Modulus (%): Returns the remainder when the first operand is divided by the second.
  - Exponentiation (**): Raises the first operand to the power of the second.
  - Floor Division (//): Divides the first operand by the second and returns the largest integer less than or equal to the result. - lo the result

In [89]:
x = 5
y = 2

print(x+y)  # Addition (+)
print(x-y)  # Subtraction (-)
print(x*y)  # Multiplication (*)
print(x/y)  # Division (/)
print(x%y)  # Modulus (%)
print(x**y) # Exponentiation (**)
print(x//y) # Floor Division (//):

7
3
10
2.5
1
25
2

#### Comparision Operators: *Relational Operators*
- comparison operators are used to compare two values.
  - Equal to (==): Returns True if both operands are equal.
  - Not Equal to (!=): Returns True if operands are not equal.
  - Greater than (>): Returns True if the left operand is greater than the right.
  - Less than (<): Returns True if the left operand is less than the right.
  - Greater than or Equal to (>=): Returns True if left operand is greater than or equal to the right.
  - Less than or Equal to (<=): Returns True if left operand is less than or equal to the right.
    
 <= 10) # Output: True

In [90]:
a = 4
b = 3

print(a == b)  # Equal to (==)
print(a != b)  # Not Equal to (!=)
print(a > b)   # Greater than (>)
print(a < b)   # Less than (<)
print(a >= b)  # Greater than or Equal to (>=)
print(a <= b)  # Less than or Equal to (<=)

False
True
True
False
True
False

#### Logical Operators:
- used to combine multiple conditions together and evaluate them as a single boolean expression.
- there are three operators
  - AND
  - OR
  - NOT

In [95]:
c = True
d = False

print(c and d) # returns True, when both values are True, else False
print(c or d)  # returns True, when atleast one of them is True, else False.
print(not c)   # returns True if it is False, returns False if it is True, means returns opposite of the actual value.

False
True
False

#### Bitwise operators:
- Python bitwise operators are used to perform bitwise calculations on integers. The integers are converted into binary format and then operations are performed bit by bit.

In [99]:
# example
x = 2
y = 3
print(x & y) # AND operators returns 2
# it's because,it is converting these values into binary numbers, then performs operations.
# like 2 is in binary 010 and three is 011, by performing & operation
# it returns, 010 which is equal to 2 in decimals (integers)

# OR (|) operator
print(x | y) # returns three

# Right Shift (>>) and Left Shift (<<) and once compliment (~)
print(x >> 2)
print(y << 3)
print(~x)

2
3
0
24
-3

#### Assignment Operators:
- Assignment operators in Python are used to assign values to variables.
  - Operator Assignment (=)
  - Operator Addition (+=)
  - Operator Subtraction (-=)
  - Operator Multiplication (*=)
  - Operator Division (/=)
  - Operator Modulus (%=)
  - Operator Exponentiation (**=)
  - Operator Floor Division (//=)

In [100]:
num = 4
print(num)
num += 6
print(num)
num *= 2
print(num)

4
10
20

#### Identity Operator:
- identity operators are used to compare the memory locations of two objects. There are two identity operators:
 - is Operator:r: This operator returns True if both variables point to the same object in memor
 - .
is not Operator: This operator returns True if both variables do not point to the same object in memory.

In [103]:
# if both has same value it does not mean that they are on the same location.
# (is) operator says, that are both values on same location or not?
a = 23
b = 23
print(a is b)

a = [1,2,3]
b = [1,2,3]
print(a is b)

x = [1, 2, 3]
y = x
z = [1, 2, 3]

print(x is y)  # True, because y is assigned to the same object as x
print(x is z)  # False, because z is a different object with the same content
print(x is not z)  # True, because x and z are different objects

True
False
True
False
True

#### Membership operators:
- In Python, membership operators allow you to check whether a sequence is present in an object or not.
- There are two types of membership operators:

1. **`in`**: Returns `True` if a sequence with the specified value is present in the object.
2. **`not in`**: Returns `True` if a sequence with the specified value is **not** present in the objectoperators-not-not/.

In [104]:
my_list = [1, 2, 3, 4]
print(3 in my_list)  # Output: True
print(5 not in my_list)  # Output: True

True
True

## If-else Statements: (Conditioonal Statements)

- In Python, conditional statements are used to execute a block of code only when certain conditions are met. 
- The if statement is the most basic form of conditional execution, where a block of code is executed if the condition evaluates to True 1.

In [118]:
#Example of Basic if Statement

x = 10
if x > 0:
    print('x is positive')
#In this example, the condition x > 0 is True, so the print statement within the if block is executed.


x = -5
if x > 0:
    print('x is positive')
else:
    print('x is negative or zero')
#Here, since x is not greater than 0, the condition evaluates to False, and the code within the else block is executed.


score = 75
if score >= 90:
    grade = 'A'
elif score >= 75:
    grade = 'B'
elif score >= 65:
    grade = 'C'
else:
    grade = 'F'
print(grade)
#This code assigns a grade based on a score. Since the score is 75, it meets the second condition and assigns grade 'B'.


num = 5
if num >= 0:
    if num == 0:
        print('Zero')
    else:
        print('Positive number')
else:
    print('Negative number')
#In this nested example, since num is greater than 0, it checks the inner condition and prints 'Positive number'.

x is positive
x is negative or zero
B
Positive number

#

## Indentation:
-  It is used to define the scope and grouping of code statements, such as those within functions, loops, and conditionals.

In [122]:
x = 15
if x > 0:
    # This is the first block of code
    print("X is greater than 0")
    if x == 16 :
        # This is a nested block of code
        print("It's sixteen")
    else:
        # This is another nested block of code
        print("it's not sixteen")
# This is outside the if-else block
print("code completed")

X is greater than 0
it's not sixteen
code completed

## While Loop:

- a while loop is used to repeatedly execute a block of code as long as a given condition is true.

In [1]:
x = int(input("Enter Table Number: "))
i = 1
while i <= 10:
    print(x, "x",i, " = ", x*i)
    i += 1

Enter Table Number:  5

5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10  =  50

## Guessing Game:

In [2]:
# for generating random numbers we import a random library, where we use random.randint() function.
import random

In [4]:
# guessing game code
jackpot = random.randint(1, 100)
guess = int(input("Guess the number. "))
counter = 1

while guess != jackpot:
    if guess < jackpot:
        print("Guess higher")
    else:
        print("Guess lower")
    guess = int(input("Guess the number. "))    
    counter += 1

print("You Guess Right. ")
print("you took", counter, "attempts. ")

Guess the number.  65

Guess lower

Guess the number.  50

Guess higher

Guess the number.  60

Guess lower

Guess the number.  57

Guess higher

Guess the number.  58

Guess higher

Guess the number.  59

You Guess Right.
you took 6 attempts.

## For Loop:

- A for loop is used to iterate over a sequence such as a list, tuple, dictionary, set, or string.
ments

In [ ]:
#Basic Syntax

#The basic syntax of a for loop in Python is as follows:
for item in iterable:
    # execute statements

- Here, iterable can be any object that can return its elements one at a time, such as lists, tuples, strings, etc. The item variable takes the value of the next element in iterable with each iteration of the loop

In [10]:
#Example with List

#Let's look at an example where we iterate over a list of fruits:

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

#Looping Through a Dictionary

#When looping through a dictionary, you can retrieve keys, values, or key-value pairs:
print("\n")
count = {"one": 1, "two": 2, "three": 3}
for i in count:
    print(i)

apple
banana
cherry


one
two
three

### Range function:

- The `range()` function in Python is used to generate a sequence of numbers. It's commonly used in loops to iterate over a sequence of numbers.
- Hereâ€™s a quick overview of how it works:

### Syntax
```python
range(start, stop, step)
```

### Parameters
- **start** (optional): The starting value of the sequence. Default is 0.
- **stop** (required): The end value of the sequence (not included in the sequence).
- **step** (optional): The difference between each number in the sequence. Defatorial.net/python-basics/python-for-range/.

In [13]:
# Examples

#Basic Usage
 
for i in range(5):
    print(i)        #This will print numbers from 0 to 4.

0
1
2
3
4

In [14]:

#Specifying Start and Stop:

for i in range(3, 8):
    print(i)        #This will print numbers from 3 to 7.

3
4
5
6
7

In [15]:
#Specifying Start, Stop, and Step:

for i in range(2, 10, 2):
    print(i)        #This will print 2, 4, 6, and 8.

2
4
6
8

## Nested Loops:

- A nested loop in Python is a loop inside another loop. The â€œinner loopâ€ will execute completely for each iteration of the â€œouter loop.â€ This structure is useful for working with multi-dimensional data structures, such as lists of lists, or for tasks that require multiple levels of iteration.

In [19]:
rows = int(input("Enter number of Rows. "))

for i in range(1, rows+1):
    for j in range(0, i):
        print("*", end = " ")
    print("")

Enter number of Rows.  10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

## Break, Continue, and Pass Statements:

#### Break Statement:
- The break statement in Python is used to terminate the execution of a loop prematurely when a certain condition is met. It can be used in both for and while loops. When the break statement is encountered, the loop stops immediately, and the program continues with the next statement after the loop.

In [30]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

#### Continue Statement:
- the continue statement is used within a loop to skip the current iteration and move on to the next one. It effectively jumps back to the loop's start, bypassing the remaining code block for that particular iteration.

In [32]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

#### Pass Statement:
- The pass statement in Python is a null operation used as a placeholder in your code. It allows you to write syntactically correct code without executing any action. This can be particularly useful in situations where you havenâ€™t yet written the code but want to maintain the structure of your program.

In [35]:
# example 01:
# using in loops,
for i in range(10):
    pass

#example 02:
# using in if-else statements,
x = 4
if x == 3:
    pass
else:
    print("x is not 3")

x is not 3

## Built-in Functions:

- built-in functions are pre-defined functions that come bundled with the language. You can use them directly in your Python programs without importing external libraries. These functions provide essential and commonly used functionality for various tasks, such as data type conversion, mathematical operations, string manipulation, file operations, and more
- bellow are some most usable built-in functions.

- **print(objects, sep=' ', end='\n', file=sys.stdout, flush=False):** Prints objects to the text stream file.

In [41]:
# Example 1: Printing a simple string
print("Hello, World!")

# Example 2: Printing multiple values separated by a space
print("The answer is", 42)

Hello, World!
The answer is 42

- **input([prompt]):** Reads a string from standard input.

In [40]:
name = input("Enter your name: ")
print(f"Hello, {name}!")

Enter your name:  wajid

Hello, wajid!

- **abs(x)**: Returns the absolute value of a number.

In [43]:
result = abs(-5)
print(result)  # Output: 5

5

- **bin(x)/oct(x)/hex(x)**: Converts an integer to a binary/octal/hexadecimal string.

In [44]:
binary = bin(10)
octal = oct(10)
hexadecimal = hex(10)
print(binary)       # Output: '0b1010'
print(octal)        # Output: '0o12'
print(hexadecimal)  # Output: '0xa'

0b1010
0o12
0xa

- **divmod(a, b)**: Returns a tuple of the quotient and remainder when dividing a by b.

In [45]:
quotient, remainder = divmod(10, 3)
print(quotient, remainder)  # Output: 3 1

3 1

- **int(x)/float(x)/etc**: Converts a number or string to an int/floating-point number.

In [46]:
number = int("123")
decimal = float("123.45")
print(number)  # Output: 123
print(decimal) # Output: 123.45

123
123.45

- **help([object])**: Invokes the built-in help system.

In [47]:
help(print)  # Displays help information for the print function.

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

- **id(object)**: Returns the identity of an object.

In [48]:
obj = "Hello"
print(id(obj))  # Output: (an integer representing the object's memory address)

2696998540144

- **sum(iterable, /, start=0)**: Sums the items of an iterable.

In [55]:
total = sum([1, 2, 3, 4, 5])
print(total)  # Output: 15

15

- **len(s)**: Returns the length of an object.

In [49]:
length = len("Hello")
print(length)  # Output: 5

5

- **min/max(iterable, *[, key, default])***: Returns the smallest/largest item in an iterable.

In [50]:
smallest = min([3, 1, 4, 1, 5])
largest = max([3, 1, 4, 1, 5])
print(smallest)  # Output: 1
print(largest)   # Output: 5

1
5

- **ord(c)**: Returns the Unicode code point for a single character.

In [51]:
code_point = ord('A')
print(code_point)  # Output: 65

65

- **pow(x, y[, z])**: Returns x to the power of y, modulo z if present.

In [52]:
result = pow(2, 3)       # 2^3
mod_result = pow(2, 3, 3) # (2^3) % 3
print(result)      # Output: 8
print(mod_result)  # Output: 2

8
2

- **round(number[, ndigits])**: Rounds a number to a given precision in decimal digits.

In [53]:
rounded_value = round(3.14159, 2)
print(rounded_value)  # Output: 3.14

3.14

- **type(object)**: Returns the type of an object.

In [54]:
obj_type = type(123)
print(obj_type)  # Output: <class 'int'>

<class 'int'>

## Built-in Modules:

- Python built-in modules are a set of libraries that come pre-installed with the Python installation.
- A file containing a set of functions you want to include in your application.
- Examples of Python Modules
  - math
  - random
  - os
  - time
  - and many more

#### Math Module:

- The Python math module provides a wide range of mathematical functions that are essential for performing calculations in various applications.
- This module is part of the standard Python library and includes functions for arithmetic, logarithmic, trigonometric, and other mathematical operations.fied base.

In [64]:
import math

# Calculate the factorial of 5
factorial_of_5 = math.factorial(5)

# Compute 2 raised to the power of 3
power_result = math.pow(2, 3)

# Calculate the logarithm of 100 to base 10
log_result = math.log(100, 10)

#### Random Module:

- It allows you to generate random numbers and perform random-based operations in your programs.
- It includes various functions for generating pseudo-random numbers, which can be used in applications like simulations, game development, and cryptographic tasks.
- Some of the methods provided by the `random` module include:
  - `randrange()`: Returns a random number within a given range.
  - `randint()`: Returns a random integer within a specified range.
  - `choice()`: Selects a random element from a sequence.
  - `shuffle()`: Randomly reorders a sequence.
  - `uniform()`: Generates a random float between two given parameters.
  - And more!

In [61]:
import random

# Generate a random integer between 1 and 10
random_integer = random.randint(1, 10)
print(random_integer)

3

#### Time Module:

- The `time` module in Python provides various time-related functions.
- Here are some key features and functions:

1. **Time Representation**:
   - **Epoch**: The starting point for time calculations, typically January 1, 1970, 00:00:00 (UTC).
   - **Seconds since the epoch**: Time is often represented as the number of seconds elapsed since the epoch.

2. **Functions**:
   - `time.time()`: Returns the current time in seconds since the epoch as a floating point number.
   - `time.sleep(seconds)`: Suspends execution for the given number of seconds.
   - `time.gmtime([secs])`: Converts a time expressed in seconds since the epoch to a `struct_time` in UTC.
   - `time.localtime([secs])`: Converts a time expressed in seconds since the epoch to a `struct_time` in local time.
   - `time.strftime(format[, t])`: Converts a `struct_time` to a string according to a format specification.
   - `time.strptime(string, format)`: Parses a string representing a time according to a format.

3. **Performance Measurement**:
   - `time.perf_counter()`: Returns the value of a performance counter, useful for benchmarking.
   - `time.process_time()`: Returns the sum of the system and user CPU time of the current process.

4. **Time Zones and Daylight Saving Time**:
   - The module also handles time zones and daylight savinns/mastering-time-overview/.

In [65]:
import time

current_time = time.time()
print("Current time in seconds since the epoch:", current_time)

Current time in seconds since the epoch: 1724311688.5112934

In [66]:
print("Printed immediately.")
time.sleep(2.4)
print("Printed after 2.4 seconds.")

Printed immediately.
Printed after 2.4 seconds.

#### OS Module:

- The Python OS module provides a way of using operating system dependent functionality. It includes functions for creating and removing a directory (folder), fetching its contents, changing and identifying the current directory, etc.

In [67]:
# To get the current working directory, os.getcwd() is used.

import os
cwd = os.getcwd()
print("Current working directory:", cwd)

Current working directory: C:\Users\wajid\Journey to becoming a Data Scientist 2024-Aug-19

## Strings:

- In Python, a **string** is a sequence of characters.
- These characters can be letters, numbers, symbols, or whitespace, and they are enclosed within either single (`'`) or double (`"`) quotes.
- Strings are a Immutable Data Type.
- Strings are used to represent text data and are essential for various operations in Python.
- Here are some key points about strings:hon.org/3/library/string.html.

**1. Creating Strings:**
   - You can create a string by enclosing characters in quotes. For example:
     - `'hello'` or `"hello"` represent the same string.
   - You can also use triple quotes (`'''` or `"""`) for multiline strings.

In [1]:
a = 'hello'
b = "hello"
c = """hello"""
print(a,b,c)

hello hello hello

**2. Accessing Substrings from a String:**
- *
   - Strings are like arrays of bytes representing Unicode charers.
   - Use square brackets to access individual characters within aring.
   - Example: If `a = "Hello, World!"`, then `a[1]` gives you the character at position 1 (remember that the first charposition 0)hon.org/3/library/string.html.

In [5]:
a = "Hello, World!"
print(a[1])

e

#### Understanding Indexing and Slicing in Python:
- In Python, indexing and slicing are vital concepts that allow you to access and manipulate sequences like strings, lists, and tuples efficiently.tly.

##### **Indexing in Python:**
- Indexing refers to accessing individual elements of a sequence.
- In Python, indexing starts at 0, meaning the first element is at index 0, the second at index 1, and so on.
- To access an element, you use square brackets [] with the index number. For example:

In [6]:
my_list = ['apple', 'banana', 'cherry', 'date']
print(my_list[0]) # Outputs: 'apple'
print(my_list[1]) # Outputs: 'banana'

apple
banana

- Negative indexing is also possible, where -1 refers to the last element, -2 to the second last, and so on:

In [8]:
print(my_list[-1]) # Outputs: 'date'
print(my_list[-2]) # Outputs: 'cherry'

date
cherry

##### **Slicing in Python:**
- Slicing allows you to access a range of elements within a sequence.
- The syntax for slicing is sequence[start_index:end_index], where start_index is inclusive and end_index is exclusive.
- If you omit start_index, it defaults to 0, and omitting end_index defaults to the length of the sequence.
- You can also specify a step to skip elements within the range.
- Here's an example:

In [15]:
r = "Hello World"
print(r[0:4])
print(r[2:])
print(r[:4])
print(r[:])
print(r[2:6:2])
print(r[0:8:3])
print(r[0:6:-1]) # empty
print(r[-5:-1:2])
print(r[::-1])   # reverse the string
print(r[-1:-5:-1])

Hell
llo World
Hell
Hello World
lo
HlW

Wr
dlroW olleH
dlro

In [9]:
print(my_list[1:3]) # Outputs: ['banana', 'cherry']
print(my_list[:2]) # Outputs: ['apple', 'banana']
print(my_list[2:]) # Outputs: ['cherry', 'date']
print(my_list[::2]) # Outputs: ['apple', 'cherry']

['banana', 'cherry']
['apple', 'banana']
['cherry', 'date']
['apple', 'cherry']

**3. Editing and Deleting Strings:**
- you cannot edit, add or delete characters into a string
- you can reassign values to strings

In [19]:
#q = "Hello World"
# these all commands going to through errors.
#print(q[2] = 'f')
#q[5] = 'e'

#del q[2]
#del q[:3:2]

**4. String Operations:**
- Operators on Strings:
  - Arithmetic Operations
  - Relational Operations
  - Logical Operations
  - Loops Strings
  - Membership Operations

**Arithmetic Operations:**
- you can only perform addition and Multiplication operations.

In [23]:
add = "Hello" + "-" + "World"
mult = ("#" * 5)
print(add,"\n", mult)

Hello-World
 #####

**Relational Operations:**
- here we can use, *(==, !=, >, <,etc)*

In [26]:
eq = "Hello" == "World" # returns False
print(eq)
com = "Hello" > "World" # returns False
print(com) 
# it's comparing "Lexiographically", means, jo cheez phele aaye gi dictionary me wo choti hogi or baad me baddi, or small letters chotte hote hain capitals se.

False
False

**Logical Operations:**
- python takes an empty string as False, and other strings as True

In [32]:
a = "Hello" and "World"
b = "" and "World"
# it's checking that, is both True, so it sees first "Hello" then see's "wWrld", 
# on seeing "World" it confirms that Now condition is True, that why it prints, last string (World)
print(b) # prints empty
print(a)

World

In [34]:
x = "Hello" or "World"
y = "Hello" or ""
z = "" or ""
# Here it see's "Hello", and condition become True, so that's why it prints first term (Hello)
print(x ,"\n", y,"\n" , z)

Hello
 Hello

In [39]:
f = not "" # returns True
print(f)
g = not "Hello" # returns False
g

True

False

**Loops Strings:**

In [40]:
c = "Hello World"
for i in c:
    print(i)

H
e
l
l
o

W
o
r
l
d

**Membership Operations:**

In [43]:
k = 'h' in c # checking is small  h is in "c"
print(k)
l = "H" in c
print(l)
z = 'W' not in c
z

False
True

False

**5. String Functions:**
- Common Functions:
  - len()
  - max()
  - min()
  - sorted

In [48]:
r = "hyderabad"
print(len(r))
print(max(r))
print(min(r))
print(sorted(r))
print(sorted(r, reverse = True))

9
y
a
['a', 'a', 'b', 'd', 'd', 'e', 'h', 'r', 'y']
['y', 'r', 'h', 'e', 'd', 'd', 'b', 'a', 'a']

**These functions are applicable on Strings:**
- **1. Capitaliza, Title, Upper, Lower, Swapcase**

In [55]:
r = "gOOd morning"
print(r.capitalize()) # it capitalize first word of a string.
print(r.title()) # it capitalize each first word of the word
print(r.upper()) # it capitalize each character of the string
print(r.lower()) # it lower xase each character of the string
print(r.swapcase()) # it converts upper case into lower, and wise-versa

Good morning
Good Morning
GOOD MORNING
good morning
GooD MORNING

**2. count:**

In [60]:
t = "It is raining today"
print(t.count('i'))
print(t.count(''))

3
20

**3. Find/Index**
- The only difference is that, when character is not present, *Find returns -1 and Index gives an Error*

In [66]:
print(t.find('a')) # it returns first comming character's index
print(t.find('z')) # it returns -1 when character is not present

print(t.index('a'))
# print(t.index('z')) it give error

7
-1
7

**4. endswith/startswith**

In [69]:
print(t.endswith('day')) # returns True
print(t.endswith('da')) # returns False

print(t.startswith('it')) # returns False
print(t.startswith('It')) # returns True

True
False
False
True

**5. format**

In [75]:
data = "My name is {}, and I am {} years old."
print(data.format("wajid", 23))
print(data.format(23, "wajid"))

data1 = "My name is {0}, and I am {1} years old."
print(data1.format(23, "wajid"))

data2 = "My name is {name}, and I am {age} years old."
print(data2.format(age = 23,name = "wajid"))

My name is wajid, and I am 23 years old.
My name is 23, and I am wajid years old.
My name is 23, and I am wajid years old.
My name is wajid, and I am 23 years old.

**6. isalnum/isalpha/isdecimal/isdigit/isidentifier:**

In [78]:
code = "Er56tY"
print(code.isalnum())
print(code.isalpha())
print(code.isdecimal())
print(code.isdigit())
print(code.isidentifier())
print(code.isupper())
print(code.islower())

True
False
False
False
True
False
False

**7. Split:**
- it breaks each word into a list.

In [84]:
sent = "This is True, for sure" # by default it split on space, however you can define by yourself. and converts it into list.
print(sent.split())
print(sent.split('i'))
print(sent.split('z'))

['This', 'is', 'True,', 'for', 'sure']
['Th', 's ', 's True, for sure']
['This is True, for sure']

**8. Join**
- you can converts list's into strings.

In [86]:
"-".join(['This', 'is', 'True,', 'for', 'sure'])
" ".join(['This', 'is', 'True,', 'for', 'sure'])

'This is True, for sure'

**9. Replace**

In [87]:
"Hi my name is Wajid".replace("Wajid", "Javed")

'Hi my name is Javed'

**10. Strip**
- it remove trailing and leading spaces.

In [88]:
"  my name is Wajid       ".strip()

'my name is Wajid'

- **Mutables Data Types:** List, Sets, and Dictionary.
- **Immutable Data Types:** (*All other Data Types are immutable*) like, Strings, Tuples, Int, Float, Boolean, Complex.

## List:

- a list is a collection of items that are ordered, changeable, and allow duplicate values. Lists are created using square brackets and can contain items of any data type.

**Array vs List:**
1. Array is Homogenous, means it can only store single data type of items. **vs** List can be Hetrogenous, means it can store multiple data types of items.
2. Array stores items on continuous memory location, means one by one **vs** List does not store items on continuous memory locations.
3. Array is faster than list, because it stores items on continuous memory locations.
4. List are more programmer friendly.

**Creating List:**

In [92]:
L = [] # empty list
print(L)
L = [1,2,3,4,5] # Homogenous List
print(L)
L = ['J',3.22,"Wajid", 101, False] # Hetrogenous List
print(L)

[]
[1, 2, 3, 4, 5]
['J', 3.22, 'Wajid', 101, False]

**Multi-Dimmensional List:**

In [98]:
L = [1,2,3,[4,5]] # 2D List
print(L)
L = [[1,2,3],[4,5,6]] # 2D List
print(L)
L = [[[1,2],[3,4],[5,6]]] # 3D List
print(L)
L = list("wajid") # Type Conversion
print(L)
L = list() # empty List
L

[1, 2, 3, [4, 5]]
[[1, 2, 3], [4, 5, 6]]
[[[1, 2], [3, 4], [5, 6]]]
['w', 'a', 'j', 'i', 'd']

[]

**Access List:**

In [111]:
L = [1,2,3,4,5,6]
print(L[0]) # print 0th Index
print(L[-1])
print(L[1:4])
print(L[:2])
print(L[::-1])

# Accessing Multi-Dimmensional Lists
L = [1,2,3,[4,5]] # access 4
print(L[3][0]) 
# you can write 
print(L[-1][0])

# Accessing 3D Lists:
L = [[[1,2],[3,4]],[[5,6],[7,8]]] # access 7
print(L[-1][-1][0])
print(L[1][1][0]) # another method

1
6
[2, 3, 4]
[1, 2]
[6, 5, 4, 3, 2, 1]
4
4
7
7

**Edit List:**

In [116]:
L = [1,2,3,4,5]
L[0] = 100 
print(L)
L[-1] = 500
print(L)
L[1:4]  = [200,300,400]
print(L)

[100, 2, 3, 4, 5]
[100, 2, 3, 4, 500]
[100, 200, 300, 400, 500]

**Adding new items:**
- **append:** It adds one item at last position.
- **extend:** It adds multiple items at last position.
- **insert:** It can add item any where in the list, using Index.

In [129]:
L = [1,2,3,4]
print(L)
L.append(5)
L.append([6,7])
L.append("Six")
print(L)
L.extend([7,8,9])
L.extend("wajid")
print(L)
#L.insert(index,value)
L.insert(2,350)
L.insert(6,"Go")
print(L)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, [6, 7], 'Six']
[1, 2, 3, 4, 5, [6, 7], 'Six', 7, 8, 9, 'w', 'a', 'j', 'i', 'd']
[1, 2, 350, 3, 4, 5, 'Go', [6, 7], 'Six', 7, 8, 9, 'w', 'a', 'j', 'i', 'd']

**Delete List:**
- **del:** It delete whole list, or portion of list.
- **remove:** It removes by getting item value.
- **pop:** It always delete the last item.
- **clear:** It empty whole list.

In [142]:
L = [1, 2, 350, 3, 4, 5, 'Go', [6, 7], 'Six', 7, 8, 9, 'w', 'a', 'j', 'i', 'd']
L1 = [1, 2, 3, 4]
del L1 # it delete whole list L1
del L[0] # delete 1 from list
print(L)
del L[-1]
print(L)
del L[-4:]
print(L)

L.remove("Six")
print(L)
L.remove(7)
print(L)

L.pop()
print(L) # delete 9

L.clear()
print(L)

[2, 350, 3, 4, 5, 'Go', [6, 7], 'Six', 7, 8, 9, 'w', 'a', 'j', 'i', 'd']
[2, 350, 3, 4, 5, 'Go', [6, 7], 'Six', 7, 8, 9, 'w', 'a', 'j', 'i']
[2, 350, 3, 4, 5, 'Go', [6, 7], 'Six', 7, 8, 9]
[2, 350, 3, 4, 5, 'Go', [6, 7], 7, 8, 9]
[2, 350, 3, 4, 5, 'Go', [6, 7], 8, 9]
[2, 350, 3, 4, 5, 'Go', [6, 7], 8]
[]

**Operations on List:**

In [165]:
L = [1,2,3,4,5]
M = [10,11,12,[13,14]]

# Concatination:
print(L + M) # it creates a new list, means L ans M's values will be same.
print(M[1] - 5)
print(L)
print(M)

# Multiplication:
print(L * 2)
print(L[2] * 3)

# Loop:
for i in L:
    print(i, end = ' ')
    
print("\n")

for i in M:
    print(i, end = ' ')
# Membership Operator:
print('\n')
print(5 in L)
print(8 not in L)

[1, 2, 3, 4, 5, 10, 11, 12, [13, 14]]
6
[1, 2, 3, 4, 5]
[10, 11, 12, [13, 14]]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
9
1 2 3 4 5

10 11 12 [13, 14]

True
True

**Functions in List:**

In [178]:
L = [1,2,1,4,5,7]
print(len(L))
print(max(L))
print(min(L))
print(sorted(L)) # it changes temporary 
print(L)
L.sort()
print(L)

print(L.index(4))

6
7
1
[1, 1, 2, 4, 5, 7]
[1, 2, 1, 4, 5, 7]
[1, 1, 2, 4, 5, 7]
3

In [181]:
# problem-01: write a program which function like a Title function
text = "my name is wajid javed"
list = []
for i in text.split():
    list.append(i.capitalize())
    
print(" ".join(list))

My Name Is Wajid Javed

In [186]:
# problem-02: write a program which find the text from gmail id brfore @
gmail = "wajidjaved160@gmail.com"
a = gmail.index('@')
print(gmail[:a])

wajidjaved160

In [191]:
# problem-03: write a program which removes duplicate values from a list.
L = [1,2,3,3,2,5,4]
M = []
for i in L:
    if i not in M:
        M.append(i)
M.sort()        
print(M)

[1, 2, 3, 4, 5]

## Tuple:

- A tuple is a collection of ordered and unchangeable items in Python, written with round brackets.
- Tuples are read-only data type

**Creating Tuple:**

In [200]:
T = () #empty Tuple
print(T)
#print(type(T))
T  = (1,2,3,4,5) # Homogenous
print(T)
#print(type(T))
T = ('w', 23,"wajid", True, 6.4) # Hetrogenous
print(T)
#print(type(T))
T = (6,7,(8,9)) # 2D Tuple
print(T)
#print(type(T))
T = (((1,2),(3,4)),((5,6),(7,8))) # 3D Tuple
print(T)
#print(type(T))
T = (5,) # this is single item tuple
print(T)
print(type(T))

()
(1, 2, 3, 4, 5)
('w', 23, 'wajid', True, 6.4)
(6, 7, (8, 9))
(((1, 2), (3, 4)), ((5, 6), (7, 8)))
(5,)
<class 'tuple'>

In [202]:
# Type Conversion
T = tuple("Wajid")
print(T)
T = tuple((1,2,3,4,5))
print(T)

('W', 'a', 'j', 'i', 'd')
(1, 2, 3, 4, 5)

**Accessing Tuple:**

In [206]:
T = (1,2,3,4,5)
print(T[0])
print(T[-1])
print(T[1:4])
T = (1,2,(3,4))
print(T[2][1])

1
5
(2, 3, 4)
4

**Edit Tuple:**
- you cannot edit tuples, because it's Immutable (*Unchangable.*)

In [208]:
T = (1,2,3,4,5)
#print(T[1] = 12) gives Error

**Adding Tuple:**
- you cannot add items in a created Tuple.

In [210]:
T = (1,2,3,4,5)
#print(T.append(6)) give Error

**Deleting Tuple:**

In [214]:
# you can delete a whole Tuple, However cannot delete a single item of a Tuple.
T = (1,2,4,5,6)
#del T[0] give Error
del T # it delete whole Tuple
#print(T) # it give Error, That Tuple (T) not exist.

**Operations in Tuple:**

In [220]:
# Concatenate
T = (1,2,3,4,5)
T1 = (6,7,8)
print(T + T1)

# Multiplication
print(T1 * 2)
# Loop
for i in T:
    print(i)
# Membership Operator
print(3 in T)
print(4 not in T)

(1, 2, 3, 4, 5, 6, 7, 8)
(6, 7, 8, 6, 7, 8)
1
2
3
4
5
True
False

**Functions in Tuple:**

In [224]:
T = (1,3,2,4,6)
print(len(T))
print(min(T))
print(max(T))
print(sum(T))
print(sorted(T)) # it convert into List
print(sorted(T, reverse = True)) # it convert into List

5
1
6
16
[1, 2, 3, 4, 6]
[6, 4, 3, 2, 1]

## Sets:
- A set is a built-in data type used to store collections of unique items, and it is mutable data type..
- Set follows Hashing, rather Indexing
- Here are some key characteristics of sets:
  - Unordered: The items in a set do not have a defined order.
  - Unchangeable: Once a set is created, you cannot change its items, but you can add or remove items.
  - No duplicates: Sets do not allow duplicate values.
  - You can create a set using curly braces {} or the set() constructor.

**Set Rules:**
1. Sets do not allow duplicates.
2. Sets have no indexing/slicing.
3. Sets don't allow mutable data type.
4. Sets itself is a mutable data type.

**Creating Set:**

In [242]:
S = set() # this is empty Set
print(S)
print(type(S))
S = {1,2,3,4,5}
print(S)
S = {1,'R', "wajid", True, 9.65} # Set follows Hashing, rather Indexing
print(S)
S = {1,2,3,2,1,4,5,4,4}
print(S)
#S = {[1,2,3], "Hello"} # give error, due to List, because it's mutable, violating rule no: 3
#print(S)
S = {(1,2),(3,4)}
print(S)
#S = {{1,2},{3,4}} # give error, it's because these are mutable data types
#print(S)

set()
<class 'set'>
{1, 2, 3, 4, 5}
{1, 'R', 9.65, 'wajid'}
{1, 2, 3, 4, 5}
{(1, 2), (3, 4)}

**Accessing Sets:**
- you cannot access items out of sets.

In [245]:
S = {1,2,3,4,5}
#print(S[0])       give error
#print(S[1:3])     give error

**Editing Sets:**
- you cannot edit sets.

In [247]:
S = {1,2,3,4}
#print(S[1] = 150) give error

**Adding Sets:**

In [253]:
S = {1,2,3}
print(S)
S.add(45) # adding item
print(S)
S.add("joke")
print(S)

{1, 2, 3}
{1, 2, 3, 45}
{1, 2, 3, 45, 'joke'}

**Deleting Sets:**

In [258]:
S = {1,2,3,4,5}
S1 = {1,4,32,7}
del S1 # delete S1
#print(S1)
#del S[1] # give error,bcz it only can delete whole sets.as above

S.remove(4)
print(S)

S.pop() # here it remove 1 instead of 5, it's bcz sets works on hashing
print(S)

{1, 2, 3, 5}
{2, 3, 5}

**Set Operations:**

In [263]:
S = {1,2,3,4,5}
S1 = {3,4,5,6}
# you cannot concatinate and multiply
#S + S1
#S * 2

for i in S: # Loops
    print(i)

print(6 in S1) # membership operator

1
2
3
4
5
True

**Set Functions:**

In [270]:
S = {1,3,2,7,7,4}
print(S)
print(len(S))
print(min(S))
print(max(S))
print(sum(S))
print(sorted(S))
print(sorted(S, reverse = True))

{1, 2, 3, 4, 7}
5
1
7
17
[1, 2, 3, 4, 7]
[7, 4, 3, 2, 1]

**Special Functions only Sets can use:**

In [286]:
S = {1,2,3,5,4,6,8}
S1 = {2,1,3,5,7}

print(S.union(S1)) # it returns all the unique numbers.
print(S.intersection(S1)) # it returns, all the common numbers.

print(S.difference(S1)) # show items which are present in S but not in S1.
print(S1.difference(S)) # show items which are present in S1 but not in S.

print(S1.symmetric_difference(S)) # show all the items, which are not in each of these.

# disjoint is, when there is no common item b/w two sets
print(S1.isdisjoint(S)) # return's False, bcz there are common items present.

# subset means, S sets all the items are present in set S1, and S1 has also other unique items.
print(S1.issubset(S))   # returns False

# Superset means, all elements of one set are contained within another set
print(S1.issuperset(S))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5}
{8, 4, 6}
{7}
{4, 6, 7, 8}
False
False
False

## Dictionary:

- In Python, a dictionary is a built-in data type that allows you to store data in key-value pairs.
- Here are some key features of dictionaries:
  - **Ordered**: As of Python 3.7, dictionaries maintain the order of items. In earlier versions, they were unordered.
  - **Changeable**: You can modify, add, or remove items after the dictionary is created.
  - **No Duplicates**: Each key in a dictionary must be unique. If you try to use a duplicate key, the last value assigned to that key will overwrite the previous one.

**Rules of Dictionary:**
1. Dictionary has no Indexing
2. Dictionary is Mutable
3. Keys: are immutable and Values: are mutable
4. Keys should be unique

In [290]:
D = {"Name": "Wajid", "Age": 23, "Gender" : "Male"}
print(D)
print(type(D))

{'Name': 'Wajid', 'Age': 23, 'Gender': 'Male'}
<class 'dict'>

**Creating Dictionary:**

In [297]:
D = {} # empty dictionary
print(D)
print(type(D))

# Keys must be Immutables
#D = {[1,2] : "Nitish"} 
#print(D) # give error, bcz list is mutable.

D = {(1,2) : "Nitish"}
print(D) # it works, bcz tuple is immutable.

# Keys should be unique
D = {"Name" : "Wajid", "Name" : "Javed"}
print(D)

# 2D dictionary
D = {"Name":"Wajid","Marks":{"math":88,"eng":78,"python":96}}
print(D)

{}
<class 'dict'>
{(1, 2): 'Nitish'}
{'Name': 'Javed'}
{'Name': 'Wajid', 'Marks': {'math': 88, 'eng': 78, 'python': 96}}

**Accessing Dictionary:**

In [301]:
D = {"Name":"Wajid","Marks":{"math":88,"eng":78,"python":96}}
print(D["Name"]) # you cannot get values by Indexing.
print(D["Marks"]["eng"])

Wajid
78

**Editing Dictionary:**

In [306]:
D = {"Name":"Wajid","Marks":{"math":88,"eng":78,"python":96}}
D["Name"] = "Javed"
print(D)

D["Marks"]["math"] = "94"
D

{'Name': 'Javed', 'Marks': {'math': 88, 'eng': 78, 'python': 96}}

{'Name': 'Javed', 'Marks': {'math': '94', 'eng': 78, 'python': 96}}

**Adding Dictionary:**

In [310]:
D = {"Name":"Wajid","Marks":{"math":88,"eng":78,"python":96}}
D["Age"] = 23
D["Marks"]["C++"] = 69
print(D)

{'Name': 'Wajid', 'Marks': {'math': 88, 'eng': 78, 'python': 96, 'C++': 69}, 'Age': 23}

**Deleting Dictionary:**

In [317]:
D = {'Name': 'Wajid', 'Marks': {'math': 88, 'eng': 78, 'python': 96, 'C++': 69}, 'Age': 23}
D1 = {"Type":"Integer"}
del D1

del D["Marks"]["C++"]
print(D)

D.clear()
print(D)

{'Name': 'Wajid', 'Marks': {'math': 88, 'eng': 78, 'python': 96}, 'Age': 23}
{}

**Operations in Dictionary:**

In [331]:
# Concatination and Multiplication does not work.
D = {"color": "Yellow", "time": "morning", "date": 28 }
D1 = {"one":1,"two":2}
# D + D1    ERROR
# D * 3     ERROR

# Loops:
for i in D:
    print(i) # it give, keys

for i in D:
    print(D[i]) # it give, values
    
for i in D:
    print(i,D[i]) # it give, key, values.

# Membership operator

print(28 in D ) # returns False, bcz it checks for keys, not values.

print("color" in D) # returns True

color
time
date
Yellow
morning
28
color Yellow
time morning
date 28
False
True

**Functions in Dictionary:**

In [339]:
D = {"color": "Yellow", "time": "morning", "date": 28 }
print(len(D))
print(min(D))
print(max(D))
print(sorted(D))
#print(sum(D)) # sum only works on numbers
D = {1 : 10, 2 : 20, 3 : 30}
print(sum(D)) # sum keys
print(sum(D.values())) # sum values

3
color
time
['color', 'date', 'time']
6
60

**Special Dictionary Functions:**

In [342]:
D = {"color": "Yellow", "time": "morning", "date": 28 }
print(D.keys())
print(D.values())
print(D.items())

dict_keys(['color', 'time', 'date'])
dict_values(['Yellow', 'morning', 28])
dict_items([('color', 'Yellow'), ('time', 'morning'), ('date', 28)])

## Functions:

- Functions in Python are blocks of reusable code that perform a specific task. They help to break down complex programs into smaller, manageable parts, making the code more readable and maintainable. Functions can accept inputs known as parameters and can return outputs.

##### **Abstraction in Functions:**
Abstraction in Python functions refers to the concept of hiding the internal implementation details and exposing only the necessary parts to the user. It allows you to focus on *what* the function does rather than *how* it does it. By using abstraction, you can break down complex problems into simpler, more manageable pieces.

For example, when you use a built-in Python function like `len()`, you donâ€™t need to know how Python calculates the length of a list or a string. You just know that it returns the length:

```python
my_list = [1, 2, 3, 4, 5]
length = len(my_list)  # You know it returns 5, but not how it does it internalnsible for a specific shape.

##### **Decomposition in Functions:**
Decomposition is the process of breaking down a complex problem or system into smaller, more manageable components or functions. In Python, this often means creating multiple functions, each handling a specific task, and then combining them to solve a larger problem. Decomposition helps in organizing code, making it easier to understand, maintain, and debug.

For example, consider a program that calculates the area of a rectangle and a circle. You could decompose this problem into two functions:

```python
def calculate_rectangle_area(width, height):
    return width * height

def calculate_circle_area(radius):
    import math
    return math.pi * radius ** 2

# Now you can use these smaller functions in your main program
rectangle_area = calculate_rectangle_area(5, 10)
circle_area = calculate_circle_area(7)
```

In this example, the overall problem (calculating areas) is decomposed into smaller functions, each responsible for a specific shape.

##### **Components of functions in python:**


1. **Function Name**: The identifier used to call the function.
   ```python
   def greet():
   ```

2. **Parameters (Optional)**: Inputs to the function, specified within parentheses. They allow the function to accept arguments when called.
   ```python
   def greet(name):
   ```

3. **Function Body**: The block of code that defines what the function does. It is indented and executed when the function is called.
   ```python
   def greet(name):
       print(f"Hello, {name}!")
   ```

4. **Return Statement (Optional)**: A statement that specifies the value the function should return. If omitted, the function returns `None` by default.
   ```python
   def add(a, b):
       return a + b
   ```

5. **Docstring (Optional)**: A string literal that describes the functionâ€™s purpose, typically placed right after the function definition. Itâ€™s used for documentation.
   ```python
   def greet(name):
       """This function greets the person passed as an argument."""
       print(f"Hello, {name}!")
   ```

6. **Function Call**: The process of executing the function by using its name followed by parentheses, passing any required arguments.
   ```python
   greet("Alice")  # Calls the function with "Alice" as an argument
   ```

In [2]:
# example:
def is_even(number):
    """
    Description: this function tell, if a given number is even or odd
    Input: any valid integer
    Output: odd/even
    Last edited: 28-08-2024
    """
    if(number % 2 == 0):
        return "Even"
    else:
        return "Odd"
        
for i in range(1,11):
    print(is_even(i))

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

In [3]:
# for any function's documentation write print(function-name.__doc__):
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

**Two point of views:**
- while creating functions there two point of views, one's who creates a function and second's who use that function.
- while creating a function, we write the seperate code and save it in *lib* folder
- then we write *import name-of-function* for using it

In [10]:
# improving the program, now it can handle error
def is_even(num):
    if type(num) == int:
        for i in range(1,num+1):
            if i % 2 == 0:
                print("Even")
            else:
                print("Odd")
    else:
        print("please enter Integer number:")

is_even(10)

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

**Return vs Print:**
- In Python, we may use the print statements to display the final output of a code on the console,
- whereas the return statement returns a final value of a function execution which may be used further in the code.

##### **Parameter vs Arguments:**
- In Python, the terms **parameters** and **arguments** are often used interchangeably, but they have distinct meanings:

- **Parameters** are the variables listed inside the parentheses in the function definition. They act as placeholders for the values that will be passed to the function.

```python
  def greet(name):
      print(f"Hello, {name}!")
  ```
  Here, `name` is a parameter.

- **Arguments** are the actual values passed to the function when it is called. They fulfill the requirements set by the parameters.
 
  ```python
  greet("Alice")
  ```
In this example, `"Alice"` is the argument provided for the `name` parameter.

##### **Types of Arguments in Python:**

1. **Positional Arguments**: These must be included in the proper order.
   ```python
   def add(a, b):
       return a + b

   add(2, 3)  # 2 and 3 are positional arguments
   ```

2. **Keyword Arguments**: These are passed with the parameter name, allowing them to be in any order.
   ```python
   def greet(first_name, last_name):
       print(f"Hello, {first_name} {last_name}!")

   greet(last_name="Doe", first_name="John")
   ```

3. **Default Arguments**: These have a default value if no argument is provided.
   ```python
   def greet(name="Guest"):
       print(f"Hello, {name}!")

   greet()  # Uses the default value "Guest"
   ```

4. **Variable-length Arguments**: These allow passing an arbitrary number of arguments.
   - Using `*args` for positional arguments:
     ```python
     def add(*args):
         return sum(args)

     add(1, 2, 3)  # 1, 2, and 3 are passed as a tuple
     ```

- Using `**kwargs` for keyword arguments:
     ```python
     def greet(**kwargs):
         for key, value in kwargs.items():
             print(f"{key}: {value}")

     greet(first_name="John", last_name="Doe")
     ```

##### **Global vs Local variables:**
- In Python, the difference between global and local variables lies in their scope and accessibility:

**Local Variables**

- **Definition**: Variables defined inside a function.
- **Scope**: Accessible only within the function where they are declared.
- **Example**:
 
  ```python
  def my_function():
      local_var = "I'm local"
      print(local_var)

  my_function()
  # Output: I'm local
  print(local_var)
  # Error: NameError: name 'local_var' is not defined
  ```

**Global Variables**

- **Definition**: Variables defined outside any function.
- **Scope**: Accessible throughout the entire program, including inside functions.
- **Example**:
 
  ```python
  global_var = "I'm global"

  def my_function():
      print(global_var)

  my_function()
  # Output: I'm global
  print(global_var)
  # Output: I'm global
  ```

**Using Global Variables Inside Functions:**
- To modify a global variable inside a function, you need to use the `global` keyword:
 
  ```python
  global_var = "I'm global"

  def my_function():
      global global_var
      global_var = "Modified inside function"

  my_function()
  print(global_var)
  # Output: Modified inside function
  ```